.container {
  box-sizing: border-box;
  padding: 12px;
  background-color: #000000;
}

h1,
p {
  color: #808080;
}

p {
  /* font-weight: 600; */
  font-size: 24px;
}

span {
  color: #696969;
}

img {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}
