/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 黑暗模式
 */

$bg-dark-1: #080808 !default;
$bg-dark-2: rgba(37, 37, 37, 1) !default;

$dark-font: #b7b7b7 !default;

body{
  color: var(--color-content-h1);
  background-color: var(--color-background-base);
}
img{
  filter: var(--img-filter);
}

